body {
    background-color: rgb(156, 238, 89);
    color: black;
}
table {
    width: 980px;
    background-color: rgb(80, 144, 80);
    text-align: center;
}
table table {
    width:940px;
    background-color: white;
    text-align: center;
}
.masodik {
height: 40pt;
background-color: black;
color: white;
}


img {
    float: right;
    margin-left: 5pt;
    margin-right: 5pt;
}

li p::first-letter{
    font-weight: bolder;
}